<ng-container >
  <!-- Filter -->
  <ng-container *ngIf="isFilterable" [matColumnDef]="this.rowActionIcon">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="filter" [(ngModel)]="searchTerm" (ngModelChange)="onChangeFilter($event)" />
      <!-- <input matInput (keyup)="applyFilter($event)" placeholder="filter" [(ngModel)]="searchTerm" (ngModelChange)="onChangeFilter($event)" /> -->
    </mat-form-field>
  </ng-container>
 
  <!-- Table -->
  <div [style]="shrinkHeight ? ('height: ' + containerHeight + ';overflow-y:scroll') : ''" (scroll)="onScroll($event)" class="pos-relative" >
    <div class="example-loading-shade" *ngIf="overlayLoader && isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
  <mat-table
    [dataSource]="tableDataSource"
    matSort
    (matSortChange)="onChangeSort($event)"
    matTableExporter
    #exporter="matTableExporter"
  >
    <!-- action column -->
    <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">
   
      <mat-header-cell *matHeaderCellDef><span *ngIf="showActionsHeaderText">{{actionsHeaderText}}</span></mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        [id]="rowActionIcon"
        (click)="emitRowAction(element)"
      >
        <button mat-button>
          <mat-icon>{{ rowActionIcon }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container
      *ngFor="let tableColumn of tableColumns"
      [matColumnDef]="tableColumn.name"
    >
      <!-- if sortable column header -->
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="tableColumn.name"
          [arrowPosition]="
            tableColumn.position === 'right' ? 'before' : 'after'
          "
        >
          {{ tableColumn.name }}
        </mat-header-cell>
      </ng-container>
      <!-- else not sortable -->
      <ng-template #notSortable>
        <mat-header-cell
          *matHeaderCellDef
          [class.text-right]="tableColumn.position == 'right'"
        >
          {{ tableColumn.name }}
        </mat-header-cell>
      </ng-template>

      <!-- column data -->
      <mat-cell
        *matCellDef="let element"
        [class.text-right]="tableColumn.position == 'right'"
      >
        {{ element | dataPropertyGetter: tableColumn.dataKey }}
      </mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div *ngIf="!errorActive && (scrollLoading || (!overlayLoader && isLoadingResults))" class="spinner">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <div *ngIf="!isLoadingResults && !errorActive && !tableDataSource.filteredData?.length" class="spinner">
    <label>{{noDataMessage}}</label>
  </div>
  <div *ngIf="errorActive" class="spinner">
    <label>{{errorMessage}}</label>
  </div>
</div>

  <!-- Pagination -->
  <mat-paginator
    *ngIf="isPageable"
    [pageSizeOptions]="paginationSizes"
    [pageSize]="defaultPageSize"
    [length]="dataLength"
    showFirstLastButtons
  >
  </mat-paginator>
  <div
    *ngIf="!isPageable && showTableResultsBar"
    class="table-results-bar"
  >
    {{showDataMessageFirstPart  + dataLength + showDataMessageSecondPart}}
  </div>
  <button
    *ngIf="isExportable"
    mat-stroked-button
    (click)="exportToExcel(exporter)"
  >
    Export to PDF
  </button>
</ng-container>

